@import url(./__container/popup__container.css);
@import url(./__closed-icon/popup__closed-icon.css);
@import url(./_window/popup_window.css);
@import url(./__window-container/popup__window-container.css);
@import url(./__title/popup__title.css);
@import url(./__image/popup__image.css);


.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
    display: flex;

}

.popup_opened {
    visibility: visible;
    opacity: 1;
}
