.form__submit-button {
    background-color: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    margin-top: 18px;
    padding: 10px;
    transition: 1s linear;
    border: none;

}

.form__submit-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}