@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    padding: 45px 199px 41px;

}


@media screen and (max-width: 1024px){
    .header{
        padding: 45px 99px 41px;
        margin: 0;
    }
}

    @media screen and (max-width: 530px){
    .header{
        padding: 28px 0;
    }
}

