@import url(./__logo/header__logo.css);

.header {
    border-bottom: 1px solid #545454;
    margin: 45px 16%;
    padding-bottom: 40px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
    .header {
        margin: 40px 8% 47px;
    }
}

@media screen and (max-width: 560px) {
    .header {
        margin: 24px 0 0;
        padding-bottom: 32px;
    }
}

