@import url(__container/element__container.css);
@import url(__item/element__item.css);
@import url(__title/element__title.css);
@import url(__like/element__like.css);
@import url(__image/element__image.css);
@import url(__trash/element__trash.css);
@import url(__like_active/element__like_active.css);

.element {
    padding: 0 16%;
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 32%));
    grid-gap: 20px 18px;
    max-width: 1200px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .element {
        padding: 0 7%;
    }
}

@media screen and (max-width: 780px) {
    .element {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 560px) {
    .element {
        grid-template-columns: minmax(282px, 1fr);
        grid-gap: 20px;
        padding: 0 19px;

    }
}








