.form__input{
    color: black;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    border: aliceblue;
}

.form__input:focus {
    outline: 0;
    outline-offset: 0;
}