.form__input {
    color: black;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #545454;
    margin-bottom: 30px;
}

.form__input:focus {
    outline-offset: 0;
}