.element__trash{
    background-image: url("../../../images/trash.svg");
    background-size: cover;
    height: 19px;
    width: 18px;
    align-self: center;
    border: none;
    background-color: transparent;
    transition: 1s linear;
    position: absolute;
    top: 4%;
    left: 88%;
}

.element__trash:hover{
    cursor: pointer;
    opacity: 0.6;
    transform: scale(1.2);
}