.element__container {
    max-width: 282px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 780px) {
    .element__container {
        margin: 0 auto;
    }
}